<section data-ng-controller="PayrollsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Payrolls</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="payroll in payrolls" data-ng-href="#!/payrolls/{{payroll._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="payroll.created | date:'medium'"></span>
				by
				<span data-ng-bind="payroll.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="payroll.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!payrolls.$resolved || payrolls.length">
    	No Payrolls yet, why don't you <a href="/#!/payrolls/create">create one</a>?
    </div>
</section>