<section data-ng-controller="TransportChargesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Transport charges</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="transportCharge in transportCharges" data-ng-href="#!/transport-charges/{{transportCharge._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="transportCharge.created | date:'medium'"></span>
				by
				<span data-ng-bind="transportCharge.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="transportCharge.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!transportCharges.$resolved || transportCharges.length">
    	No Transport charges yet, why don't you <a href="/#!/transport-charges/create">create one</a>?
    </div>
</section>