<section data-ng-controller="HostelRoomRequestsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Hostel room requests</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="hostelRoomRequest in hostelRoomRequests" data-ng-href="#!/hostel-room-requests/{{hostelRoomRequest._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="hostelRoomRequest.created | date:'medium'"></span>
				by
				<span data-ng-bind="hostelRoomRequest.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="hostelRoomRequest.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!hostelRoomRequests.$resolved || hostelRoomRequests.length">
    	No Hostel room requests yet, why don't you <a href="/#!/hostel-room-requests/create">create one</a>?
    </div>
</section>