<section data-ng-controller="HostelsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Hostels</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="hostel in hostels" data-ng-href="#!/hostels/{{hostel._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="hostel.created | date:'medium'"></span>
				by
				<span data-ng-bind="hostel.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="hostel.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!hostels.$resolved || hostels.length">
    	No Hostels yet, why don't you <a href="/#!/hostels/create">create one</a>?
    </div>
</section>