<section data-ng-controller="VehicleLogsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Vehicle log</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
              <div class="row">
                <div class="col-md-2 form-group">
                    <label class="control-label" for="weekStartingDate">Week Starting Date</label>
                    <div class="controls">
                        <input type="date" data-ng-model="vehicleLog.weekStartingDate" id="weekStartingDate" class="form-control" placeholder="weekStartingDate" required>
                    </div>
                </div>
                <div class="col-md-2 form-group">
                    <label class="control-label" for="vehicleNo">Vehicle No</label>
                    <div class="controls">
                        <input type="text" data-ng-model="vehicleLog.vehicleNo" id="vehicleNo" class="form-control" placeholder="vehicleNo" required>
                    </div>
                </div>         
              </div>
              <div class="row">
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Trip Details</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Add Trip Details</a>
                                </li>
                                <li><a href="#">Clear Trip Details</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Trip Date</th>
                                <th>Start KM Reading</th>
                                <th>End KM Reading</th>
                                <th>Driver Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>11/12/2015</td>
                                <td>123456</td>
                                <td>123458</td>
                                <td>venkatesh</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Fuel Details</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Add Fuel Details</a>
                                </li>
                                <li><a href="#">Clear Fuel Details</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Bill Date</th>
                                <th>Bill Number</th>
                                <th>Ltrs.</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>11/12/2015</td>
                                <td>123456</td>
                                <td>10</td>
                                <td>1000</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                  </div>
                </div>
              </div>                
              
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>
            </fieldset>
        </form>
    </div>
</section>