<section data-ng-controller="CatalogsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Catalogs</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="catalog in catalogs" data-ng-href="#!/catalogs/{{catalog._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="catalog.created | date:'medium'"></span>
				by
				<span data-ng-bind="catalog.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="catalog.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!catalogs.$resolved || catalogs.length">
    	No Catalogs yet, why don't you <a href="/#!/catalogs/create">create one</a>?
    </div>
</section>