<section data-ng-controller="HostelRoomsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Hostel rooms</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="hostelRoom in hostelRooms" data-ng-href="#!/hostel-rooms/{{hostelRoom._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="hostelRoom.created | date:'medium'"></span>
				by
				<span data-ng-bind="hostelRoom.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="hostelRoom.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!hostelRooms.$resolved || hostelRooms.length">
    	No Hostel rooms yet, why don't you <a href="/#!/hostel-rooms/create">create one</a>?
    </div>
</section>